# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# Logs & envs
*.log
.env

# VS Code junk
.vscode/

# History exports
calculation_history.txt

# OS junk
Thumbs.db